<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <!-- 
      See https://github.com/nlog/nlog/wiki/Configuration-file 
      for information on customizing logging rules and outputs.
   -->
    <targets>
      <target name="debugger" xsi:type="Debugger" layout="${longdate} ${level} ${message} ${onexception:Exception information\:${newline}${exception:format=type,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}"/>
      <target name="console" xsi:type="ColoredConsole" layout="${date:format=HH\:mm\:ss} ${message}"/>
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="debugger"/>
      <logger name="*" minlevel="Info" writeTo="console"/>
    </rules>
  </nlog>
</configuration>
